<div class="container">
  <div class="column is-6 is-offset-3"><div class="box has-background-white-ter">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <p>
            <strong>John Smith</strong> <small>@johnsmith</small> <small><%= tweet.created_at.strftime("%d/%m/%Y %k:%M") %></small>
            <br>
            <%= tweet.body %>
          </p>

          <footer class="card-footer">
            <div class="level-left">
              <% if local_assigns[:jojo]%>
                <div class="style">
                  <%= link_to tweets_path do %>
                  <i class="fas fa-arrow-left" aria-hidden="true"></i>
                  <% end %>
                </div>
                <div class="style">
                  <span class="icon is-small">
                    <%= link_to new_tweet_reply_path(tweet) do %>
                    <i class="fas fa-reply" aria-hidden="true"></i>
                  </span>
                  <% end %>
                </div>
              <% else %>
                <div class="style">
                  <%= link_to tweet_path(tweet) do %>
                  <i class="fas fa-eye" aria-hidden="true"></i>
                  <% end %>
                </div>
                <a class="level-item" aria-label="retweet">
                  <span class="icon is-small">
                    <i class="fas fa-retweet" aria-hidden="true"></i>
                  </span>
                </a>
                <a class="level-item" aria-label="like">
                  <span class="icon is-small">
                    <i class="fas fa-heart" aria-hidden="true"></i>
                  </span>
                </a>
              <% end %>
              <div class="style">
                <%= link_to edit_tweet_path(tweet) do %>
                <i class="fas fa-edit" aria-hidden="true"></i>
                <% end %>
              </div>
              <div class="style">
                <%= link_to tweet_path(tweet),
                method: :delete,
                data: { confirm: 'Are you shure you want to delete this tweet?'} do %>
                <i class="fas fa-trash" aria-hidden="true"></i>
                <% end %>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </article>
  </div>
</div>
