<div class="container">
  <div class="column is-6 is-offset-3">
    <div class="card">
      <div class="card-content has-background-white-ter">
        <div class="content">
          <%= @tweet.body %>
        </div>
      </div>

      <footer class="card-footer">
        <nav class="level is-mobile">
          <div class="level-left">
            <div class="style">
              <%= link_to tweets_path do %>
              <i class="fas fa-arrow-left" aria-hidden="true"></i>
              <% end %>
            </div>
              <div class="style">
              <span class="icon is-small">
                <%= link_to new_tweet_reply_path(@tweet) do %>
                <i class="fas fa-reply" aria-hidden="true"></i>
              </span>
              </div>
              <% end %>
            <a class="level-item" aria-label="retweet">
              <span class="icon is-small">
                <i class="fas fa-retweet" aria-hidden="true"></i>
              </span>
            </a>
            <a class="level-item" aria-label="like">
              <span class="icon is-small">
                <i class="fas fa-heart" aria-hidden="true"></i>
              </span>
            </a>


            <div class="style">
              <%= link_to edit_tweet_path do %>
              <i class="fas fa-edit" aria-hidden="true"></i>
              <% end %>
            </div>
            <div class="style">
              <%= link_to tweet_path(@tweet),
              method: :delete,
              data: { confirm: 'Are you shure you want to delete this tweet?'} do %>
              <i class="fas fa-trash" aria-hidden="true"></i>
              <% end %>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
<% @tweet.replies.each do |reply| %>
  <div class="colum-is-6 is-offset-3">
    <article class="media">
      <div class="media-content comment">
        <div class="content">
          <p>
            <strong><%= reply.replier %></strong>
            <small><%= time_ago_in_words(reply.created_at) %> ago</small>
            <br>
            <%= reply.body %>
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
            <a class="level-item">
              <span class="icon is-small"><i class="fas fa-edit"></i></span>
            </a>
            <a class="level-item">
              <span class="icon is-small"><i class="fas fa-trash-alt"></i></span>
            </a>
          </div>
        </nav>
      </div>
    </article>
  </div>
<% end %>

